@import url(https://fonts.googleapis.com/css?family=Montserrat);


*, *::before, *::after{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    background-color:aquamarine;
    font: 200% Montserrat;
    height: 100vh;
}

.cal-container {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 50vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px auto) repeat(5, 100px);
}
.output {
    grid-column: 1 / -1;
    background-color: gray;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 20px;
    word-wrap: break-word;
    word-break: break-all;
}
.input-before {
    color: rgba(255, 255, 255, .75);
    font-size: 1.2rem;
  }
  
.input-current{
    color: white;
    font-size: 1.5rem;
  }
  button {
    cursor: pointer;
    font-size: 1.5rem;
    border: 1px solid black;
    outline: none;
    background-color: rgba(255, 255, 255, .75);
    padding: 10px;
    margin: 5px;
  }
  button:hover {
    background-color: rgba(233, 199, 199, 0.9);
  }
  .two-space {
    grid-column: span 2;
    background-color: brown;
    color: cornsilk;
  }
